# Part 1: Reading in Alphabet Class A Stock Data

**Note this method was used for collaborative purposes, where the data was in a shared Google Drive folder with this same Collab notebook.**

Link to dataset: https://www.kaggle.com/borismarjanovic/price-volume-data-for-all-us-stocks-etfs#aadr.us.txt

In [0]:
import pandas as pd
import requests 
import json
from pandas.io.json import json_normalize

In [0]:
# Code to read csv file from Drive into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
link = 'https://drive.google.com/open?id=1IsfFD6tPmloFiMWuja_RhzU9k1ZWHASD'
fluff, idx = link.split('=')
downloaded = drive.CreateFile({'id':idx}) 
downloaded.GetContentFile('googl.csv')  
googl_df = pd.read_csv('googl.csv', sep = ',')

In [0]:
googl_df.head()

         Date    Open   High     Low   Close    Volume  OpenInt
0  2004-08-19  50.000  52.03  47.980  50.170  44703800        0
1  2004-08-20  50.505  54.54  50.250  54.155  22857200        0
2  2004-08-23  55.375  56.74  54.525  54.700  18274400        0
3  2004-08-24  55.620  55.80  51.785  52.435  15262600        0
4  2004-08-25  52.480  54.00  51.940  53.000   9197800        0

In [0]:
# Changing Date column to date time object
googl_df['Date'] = pd.to_datetime(googl_df['Date'])
googl_df.set_index('Date', inplace=True)

In [0]:
start_date = '2013-01-01'
end_date = '2016-12-31'
mask = (googl_df['Date'] >= start_date) & (googl_df['Date'] <= end_date)
googl_four_df = googl_df[mask]

# Part 2a: Retrieving News Data via NYT REST API 

**Note that after initial webscraping is finished, the data is written to a CSV, which is in the "Project" folder. Skip the below blocks and instead read in the file via drive to save time.**

New York Times API documentation: https://developer.nytimes.com/docs/articlesearch-product/1/overview

Utilizing newsapi.org to get all data related to Alphabet/Google between 2013 - 2016.

In [0]:
# default values 
key = "dntIk6KTZEo5h1RVjQ0wh9EZKsMrY6Q1"
link = ('https://api.nytimes.com/svc/search/v2/articlesearch.json?q=alphabet' + 
        '&begin_date=20130101&end_date=20161231' + '&api-key=' + key)

In [0]:
# get the number of pages of data that the API has for alphabet 
resp = requests.get(link)
first_h = resp.json()
all_news = json_normalize(first_h)
n_arts = int(all_news['response.meta.hits'])
n_pages = n_arts // 10 + 1
n_pages

87

In [0]:
# traversing through all the pages and adding the elements to a list 
import time 
articles = []
for i in range(0, n_pages): 
  new_l = link + "&page=" + str(i)
  resp = requests.get(new_l)
  hold = resp.json()
  articles.extend(hold['response']['docs'])
  if (i + 2) % 10 == 0:
    time.sleep(60)

In [0]:
# convert to DF
all_articles = json_normalize(articles)
all_articles.tail()

                                              abstract  ... slideshow_credits
862  Two readers comment on a Sunday Review essay t...  ...               NaN
863  Remembering some of the artists, innovators an...  ...               NaN
864  Two teachers agree with an opinion writer abou...  ...               NaN
865  The best present ideas, selected by Times expe...  ...               NaN
866  Readers reflect on how we see ourselves and le...  ...               NaN

[5 rows x 29 columns]

In [0]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [0]:
# write to CSV 
all_articles.to_csv('all_articles_googl.csv')
!cp all_articles_googl.csv "drive/My Drive/"

# Part 2b: Reading in Article Data via Drive CSV

In [0]:
# open and reading in CSV 
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link = 'https://drive.google.com/open?id=1-3BMbLq2BGIRQVg4vhguypidcRLLKtOr'
fluff, idx = link.split('=')
downloaded = drive.CreateFile({'id':idx}) 
downloaded.GetContentFile('all_articles_googl.csv')  
articles_df = pd.read_csv('all_articles_googl.csv', sep = ',')

In [0]:
articles_df.tail()

     Unnamed: 0  ... slideshow_credits
862         862  ...               NaN
863         863  ...               NaN
864         864  ...               NaN
865         865  ...               NaN
866         866  ...               NaN

[5 rows x 30 columns]